.centralizar {
    text-align:left;
    width: 450px;
    
}
.div_central {
    margin-top: 40px;
}
.div_esquerda {
    float: left;
    width: 30%;
    margin-top: 40px;
}
.div_direita {
    float: right;
    width: 90%;
    margin-top: 60px;
    margin-left: 320px;

}
#rodape {
    clear: both;
    margin-top: 40px;
}